# Lib/
# Scripts/
# static/assets/imgs__pycache__/
# __pycache__/

# by the source of chatgpt
# Python-related files
*.pyc
*.pyo
__pycache__/
FuliangMart/martApp/__pycache__/
FuliangMart/userauths/__pycache__/
FuliangMart/userauths/__pycache__/
*.env

__pycache__/
db.sqlite3

# Django-related files
FuliangMart/db.sqlite3
*.log
staticfiles/
media/

# Virtual environment
venv/
env/
FuliangMart/Lib/
FuliangMart/Scripts/

# IDE files
.vscode/
.idea/
*.swp

# Git-related
.git/
